@-webkit-keyframes transition-query-in {
    0%   {-webkit-transform: scale(0);transform: scale(0); opacity: 0;}
    100% {-webkit-transform: scale(1);transform: scale(1); opacity: 1;}
}

@keyframes transition-query-in {
    0%   {-webkit-transform: scale(0);transform: scale(0); opacity: 0;}
    100% {-webkit-transform: scale(1);transform: scale(1); opacity: 1;}
}

@-webkit-keyframes transition-query-out {
    0%      {-webkit-transform: scale(1);transform: scale(1); opacity: 1;}
    100%    {-webkit-transform: scale(0);transform: scale(0); opacity: 0;}
}

@keyframes transition-query-out {
    0%      {-webkit-transform: scale(1);transform: scale(1); opacity: 1;}
    100%    {-webkit-transform: scale(0);transform: scale(0); opacity: 0;}
}

.Question {
    margin-top: 5em;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}

.quiz-out .Question {
    -webkit-animation: transition-query-out .5s forwards;
            animation: transition-query-out .5s forwards;
}

/* Question Title */

.query {
    text-align: center;
    height: 64px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform-origin: 50% bottom;
            transform-origin: 50% bottom;
}

.query > span {
    -ms-flex-item-align: center;
            -webkit-align-self: center;
            align-self: center;
    display: inline-block;
    color: #FFF;
    font-size: 1.4em;
    max-width: 700px;
    line-height: 1.3;
    text-shadow:    -.5px .5px 0 rgb(4,82,156),
                    -1px 1px 0 rgb(4,82,156),
                    -1.5px 1.5px 0 rgb(4,82,156),
                    -2px 2px 0 rgb(4,82,156),
                    -2.5px 3px 0 rgb(4,82,156);
    padding: .25em .5em;
    margin: 0 auto;
}

.transition-in .query {
    -webkit-animation: transition-query-in .25s forwards cubic-bezier(.44,1.14,.77,1.1);
            animation: transition-query-in .25s forwards cubic-bezier(.44,1.14,.77,1.1);
}

.transition-out .query {
    -webkit-animation: transition-query-out .25s forwards cubic-bezier(.44,1.14,.77,1.1);
            animation: transition-query-out .25s forwards cubic-bezier(.44,1.14,.77,1.1);
}

@media (min-height: 600px) and (min-width: 400px) and (orientation: portrait) {
    .Question {
        margin-top: 8em;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
    }

    .query {
        height: 120px;
    }

    .query > span {
        font-size: 2.4em;
        max-width: 490px;
    }
}

@media (min-height: 410px) and (min-width: 400px) and (orientation: landscape) {
    .Question {
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
    }

    .query {
        height: 60px;
    }

    .query > span {
        font-size: 1.8em;
        max-width: 340px;
    }
}

@media (min-height: 500px) and (min-width: 400px) and (orientation: landscape) {
    .Question {
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
    }

    .query {
        height: 120px;
    }

    .query > span {
        font-size: 2.4em;
        max-width: 620px;
    }
}

@media (min-height: 767px) and (min-width: 600px)  {
    .query > span {
        font-size: 3em;
    }
}

@media (min-height: 900px) and (min-width: 800px)  {
    .Question {
        margin-top: 9em;
    }
    .query {
        height: 120px;
    }
    .query > span {
        font-size: 3.5em;
        max-width: 720px;
    }
}

@media (min-height: 1200px) {
    .Question {
        margin-top: 11em;
    }

    .query {
        height: 150px;
    }
}
