@-webkit-keyframes timer-in {
    0%      {-webkit-transform: translateY(-200px);transform: translateY(-200px);}
    100%    {-webkit-transform: translateY(0);transform: translateY(0);}
}

@keyframes timer-in {
    0%      {-webkit-transform: translateY(-200px);transform: translateY(-200px);}
    100%    {-webkit-transform: translateY(0);transform: translateY(0);}
}

.Timer {
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    margin-left: -63px;
    margin-top: 0px;
    display: inline-block;
    width: 130px;
    color: #FFF;
    padding: .5em 1em;
    border: 2px solid rgba(4,82,156,1);
    font-family: 'ds-digitalbold', sans-serif;
    border-radius: 4px;
    background: rgba(0,0,0,.6);
    -webkit-animation: timer-in .35s cubic-bezier(.44,1.14,.77,1.1) both;
            animation: timer-in .35s cubic-bezier(.44,1.14,.77,1.1) both;
}

.time {
    display: inline-block;
    font-size: 2.5em;
    line-height: .8;
    font-weight: 600;
    color: red;
    margin-right: .5em;
}

.time:before {
    content: ':';
}

.questionNumber {
    position: absolute;
    right:  .5em;
    top: 0;
    bottom: 0;
    color: #A0A0A0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.questionNumber:before {
    position: absolute;
    content: '';
    top: 8px;
    bottom: 8px;
    left: -6px;
    right: 0;
    width: 1px;
    background: rgba(255,255,255,.2);
}

.questionNumber > div {
    display: inline-block;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    padding: 0px 2px;
}

.currentQuestionIndex,
.totalQuestions {
    font-size: 1.8em;
    line-height: 1.3em;
    color: red;
}

@media (min-height: 900px) and (min-width: 800px) {
    .Timer {
        width: 160px;
        margin-left: -80px;
    }

    .time {
        font-size: 6.5em;
    }

    .questionNumber {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .questionNumber:before {
        display: none;
    }

    .questionNumber > div {
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center;
        padding: 0;
    }
}


