@-webkit-keyframes transition-options-in {
   0% {-webkit-transform: rotateY(-180deg);transform: rotateY(-180deg); opacity: 0;}
   100% {-webkit-transform: rotateY(0);transform: rotateY(0); opacity: 1;}
}

@keyframes transition-options-in {
   0% {-webkit-transform: rotateY(-180deg);transform: rotateY(-180deg); opacity: 0;}
   100% {-webkit-transform: rotateY(0);transform: rotateY(0); opacity: 1;}
}

@-webkit-keyframes transition-options-out {
   0% {-webkit-transform: rotateY(0);transform: rotateY(0); opacity: 1;}
   100% {-webkit-transform: rotateY(180deg);transform: rotateY(180deg); opacity: 0;}
}

@keyframes transition-options-out {
   0% {-webkit-transform: rotateY(0);transform: rotateY(0); opacity: 1;}
   100% {-webkit-transform: rotateY(180deg);transform: rotateY(180deg); opacity: 0;}
}

@-webkit-keyframes transition-camera-in {
   0% {-webkit-transform: scale3d(.01, .01, 1);transform: scale3d(.01, .01, 1)}
   100% {-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1)}
}

@keyframes transition-camera-in {
   0% {-webkit-transform: scale3d(.01, .01, 1);transform: scale3d(.01, .01, 1)}
   100% {-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1)}
}

@-webkit-keyframes transition-camera-out {
   0% {-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1)}
   100% {-webkit-transform: scale3d(.01, .01, 1);transform: scale3d(.01, .01, 1)}
}

@keyframes transition-camera-out {
   0% {-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1)}
   100% {-webkit-transform: scale3d(.01, .01, 1);transform: scale3d(.01, .01, 1)}
}

.PlayerCarousel {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

/****************

FLOW

*****************/

.flow-container {
    position: relative;
    max-height: 860px;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* next question transition */

.transition-in .montage-Flow {
    -webkit-animation: transition-camera-in .5s forwards ease-in-out;
            animation: transition-camera-in .5s forwards ease-in-out;

}

.transition-out .montage-Flow {
    -webkit-animation: transition-camera-out .5s forwards ease-in-out;
            animation: transition-camera-out .5s forwards ease-in-out;
}

.transition-out .montage-Flow-Repetition {
    -webkit-animation: transition-options-out .5s forwards ease-in-out;
            animation: transition-options-out .5s forwards ease-in-out;
}

.transition-in .montage-Flow-Repetition {
    -webkit-animation: transition-options-in .5s forwards ease-in-out;
            animation: transition-options-in .5s forwards ease-in-out;
}

/* basketball */

.flow-Ribbon > div:before {
    content: "";
    position: absolute;
    background-image: url(../../assets/image/basketball2d-edit.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    width:  500px;
    height: 500px;
    top:  50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 600px) scale3d(2.2, 2.2, 2.2);
            transform: translate3d(-50%, -50%, 600px) scale3d(2.2, 2.2, 2.2);
    box-shadow: inset 0 0 100px 70px rgba(0,0,0,0.5);
    pointer-events: none;
}
