@-webkit-keyframes transition-options-in {
    0%      {-webkit-transform: rotateY(-180deg); transform: rotateY(-180deg); opacity: 0;}
    100%    {-webkit-transform: rotateY(0); transform: rotateY(0); opacity: 1;}
}

@keyframes transition-options-in {
    0%      {-webkit-transform: rotateY(-180deg); transform: rotateY(-180deg); opacity: 0;}
    100%    {-webkit-transform: rotateY(0); transform: rotateY(0); opacity: 1;}
}

@-webkit-keyframes transition-options-out {
    0%      {-webkit-transform: rotateY(0); transform: rotateY(0); opacity: 1;}
    100%    {-webkit-transform: rotateY(180deg); transform: rotateY(180deg); opacity: 0;}
}

@keyframes transition-options-out {
    0%      {-webkit-transform: rotateY(0); transform: rotateY(0); opacity: 1;}
    100%    {-webkit-transform: rotateY(180deg); transform: rotateY(180deg); opacity: 0;}
}

@-webkit-keyframes transition-camera-in {
    0%      {-webkit-transform: scale3d(.1, .1, 1); transform: scale3d(.1, .1, 1); opacity: 0;}
    30%     {opacity: 1;}
    100%    {-webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); opacity: 1;}
}

@keyframes transition-camera-in {
    0%      {-webkit-transform: scale3d(.1, .1, 1); transform: scale3d(.1, .1, 1); opacity: 0;}
    30%     {opacity: 1;}
    100%    {-webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); opacity: 1;}
}

@-webkit-keyframes transition-camera-out {
    0%      {-webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); opacity: 1;}
    70%     {opacity: 1;}
    100%    {-webkit-transform: scale3d(.1, .1, 1); transform: scale3d(.1, .1, 1); opacity: 0;}
}

@keyframes transition-camera-out {
    0%      {-webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); opacity: 1;}
    70%     {opacity: 1;}
    100%    {-webkit-transform: scale3d(.1, .1, 1); transform: scale3d(.1, .1, 1); opacity: 0;}
}


.PlayerCarousel {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

/****************

FLOW

*****************/

.flow-container {
    position: relative;
    /*max-height: 860px;*/
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* next question transition */

.montage-Flow {
    opacity: 0;
}

.transition-in .montage-Flow {
    -webkit-animation: transition-camera-in .5s forwards ease-in-out;
            animation: transition-camera-in .5s forwards ease-in-out;

}

.transition-out .montage-Flow {
    -webkit-animation: transition-camera-out .5s forwards ease-in-out;
            animation: transition-camera-out .5s forwards ease-in-out;
}

.transition-out .montage-Flow-Repetition {
    -webkit-animation: transition-options-out .5s forwards ease-in-out;
            animation: transition-options-out .5s forwards ease-in-out;
}

.transition-in .montage-Flow-Repetition {
    -webkit-animation: transition-options-in .5s forwards ease-in-out;
            animation: transition-options-in .5s forwards ease-in-out;
}

/* basketball */

.basketball {
    height: 2000px;
    width: 2000px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

