.playerCard {
    position: absolute;
    box-sizing: border-box;
    width:  374px;
    height: 600px;
    margin-left: -187px;
    margin-top: -300px;
    background-repeat: no-repeat;
    -webkit-user-select: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.playerCard:before {
    content: "";
    border: 8px solid rgb(256,204,51);
    opacity: 0;
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.playerCard.is-selected:before {
    opacity: 1;
}

.playerCard:focus {
    outline: none;
}


/*.is-selected.playerCard:before,
.is-selected.playerCard:after,
.answered.playerCard:before,
.answered.playerCard:after  {
    opacity: 1;
    transition: opacity 0s linear, -webkit-transform .25s linear;
    transition: opacity 0s linear, transform .25s linear;
    -webkit-transform: scale3d(48.9,77,1);
            transform: scale3d(48.9,77,1);
    background-color: rgb(256,204,51);
}*/

/* panel shadow */

/*.playerCard:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    -webkit-transform: translate3d(172px, 372px, -200px) rotateX(2deg);
            transform: translate3d(172px, 372px, -200px) rotateX(2deg);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 1px;
    box-shadow: 0 -100px 20px 160px rgba(0,0,0,.5),
                0 50px 20px 160px rgba(0,0,0,.5);
    z-index: 2;
}*/

/* controls the overflow */

.playerInfoWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.playerInfo {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}

.show-details .playerInfo {
    -webkit-transform: translate(0, -153px);
    transform: translate(0, -153px);
}

.playerInfo2 {
    position: absolute;
    top: 540px;
    left: 0;
    right: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}

.show-details .playerInfo2 {
    -webkit-transform: translate(0, -153px);
    transform: translate(0, -153px);
}

/* zoom playerImage when is-selected */

/*.transition-in .is-selected .playerImage {
    transition: -webkit-transform 15s linear;
    transition: transform 15s linear;
    -webkit-transform: scale3d(1.3,1.3,1);
            transform: scale3d(1.3,1.3,1);
}*/

/*.is-selected.show-details .playerImage {
    transition: -webkit-filter .25s ease-in-out,
                        filter .25s ease-in-out,
                -webkit-transform .25s linear,
                        -webkit-transform .25s linear;
    -webkit-transform: scale3d(1,1,1);
            transform: scale3d(1,1,1);
}*/

.angledTextWrapper {
    -webkit-transform: skew(-10deg) rotate(-10deg);
            transform: skew(-10deg) rotate(-10deg);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    background: rgba(255,204,51,.95);
    padding: 13px;
    padding-right: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.playerName {
    font-weight: bold;
    font-size: 36px;
    line-height: 1em;
    margin-bottom: 10px;
}

.teamName {
    position: absolute;
    bottom: -25px;
    right:   20px;
    text-align: right;
    color: #FFF;
}

.playerNumber {
    position: relative;
    margin: 15px;
    margin-bottom: -15px;
    font-size: 40px;
    font-weight: bold;
    color: #FFF;
    width:  80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

/* playerNumber BG */

.playerNumber:after {
    content: '';
    position: absolute;
    top:  50%;
    left: 50%;
    width:  80px;
    height: 80px;
    margin-top:  -40px;
    margin-left: -40px;
    background: rgba(4,82,156, .75);
    border-radius: 50%;
}

.playerDetails {

    position: absolute;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #FFF;
    text-align: center;
    width: 100%;
    min-height: 320px;
}

/* background behind team name */

.playerDetails:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    top: -27px;
    height: 480px;
    background: rgba(4,82,156,.95);
    /*-webkit-transform: skew(-10deg) rotate3d(0,0,1,-10deg);
            transform: skew(-10deg) rotate3d(0,0,1,-10deg);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;*/
}



.playerSpecs {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 2em;
    font-size: 18px;
    line-height: 1.4em;
}

.playerSpecs > div {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.playerSpecs p {
    padding: 5px;
    margin: 0;
    margin: 5px 10px 0px 10px;
    border-top: 1px solid rgb(255,204,51);
}

.player-summary {
    box-sizing: border-box;
    margin: 0 10px;
    border: 2px solid rgb(255,204,51);
    font-size: 18px;
    line-height: 1.3;
}

.player-thumbnail {
    float: left;
    margin-right: 10px;
}

.player-blurb {
    font-size: 16px;
    line-height: 1.4;
    padding: .5em;
    text-align: left;
}

.player-avatar {
    margin-right: .5em;
}

.playerHeight span:first-child:after { content: "'"; }
.playerHeight span:last-child:after  { content: '"'; }
.playerWeight p:after  {
    display: inline-block;
    margin-left: 2px;
    content: 'lbs';
}



/* is-correct / is-incorrect */

/*.playerInfoWrapper:before,
.playerInfoWrapper:after {
    position: absolute;
    content: '';
    font-size: 0em;
    height: 5em;
    width:  5em;
    margin-top:  -2.5em;
    margin-left: -2.5em;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transition: all .3s linear;
}

.is-correct .playerInfoWrapper:before,
.is-wrong .playerInfoWrapper:before {
    font-size: 12em;
}*/

.is-correct .playerInfoWrapper:before {
    /*background: radial-gradient(rgba(0,211,0,0), rgba(0,211,0,.85) 80%);*/
}

.is-wrong .playerInfoWrapper:before {
    /*background: radial-gradient(rgba(239,0,26,0), rgba(239,0,26,.85) 80%);*/
}

/*.cardOverflow:before,
.cardOverflow:after {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2em;
    width:  2em;
    line-height: 2em;
    font-size:   6em;
    font-weight: 700;
    transition: -webkit-transform .2s cubic-bezier(.44,1.14,.77,1.16);
    transition: transform .2s cubic-bezier(.44,1.14,.77,1.16);
    z-index: 10;

}*/

/* circle bg */

/*.cardOverflow:before {
    content: '';
    border-radius: 50%;
    -webkit-transform: scale(0);
            transform: scale(0);
    margin-top: -1em;
    margin-left: -1em;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.15)
}*/

/*.answered .cardOverflow:before {
    -webkit-transform: scale(1);
            transform: scale(1);
}*/

/* correct / wrong bg settings */

/*.is-correct .cardOverflow:before    { background: rgb(0,211,0); }
.is-wrong .cardOverflow:before      { background: rgb(239,0,26); }*/

/* correct / wrong symbol settings */

/*.cardOverflow:after {
    content: '';
    position: absolute;
    display: block;
    text-align: center;
    color: #FFF;
    font-family: sans-serif;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(0);
            transform: scale(0);
}*/

/*.is-wrong .cardOverflow:after {
    content: url(../../assets/image/cross.svg);
    width: 60px;
    height: 145px;
    margin-top: -73px;
    margin-left: -30px;
}

.is-correct .cardOverflow:after {
    content: url(../../assets/image/checkmark.svg);
    width: 80px;
    height: 125px;
    margin-top: -63px;
    margin-left: -40px;
}*/

/*.answered.is-wrong .cardOverflow:after {
    -webkit-transform: scale(1);
            transform: scale(1);
}*/

/*.answered.is-correct .cardOverflow:after {
    -webkit-transform: scale(1);
            transform: scale(1);
}*/
