.card {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  background: rgb(255,204,51);
  border: 8px solid rgba(4,82,156,1);
  overflow: hidden;
  width:  500px;
  height: 700px;
}

/* card front / back transition */

.transition-build-in    { opacity: 0; }
.transition-build-out   { opacity: 0; }
.transition             { transition: opacity .8s; }

.card * {
    -webkit-user-select: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.playerImage {
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width:  100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -1;
}

.playerInfo {
  box-sizing: border-box;
  position: absolute;
  padding: 13px;
  padding-right: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  -webkit-transform: skew(-10deg) rotate(-10deg);
  transform: skew(-10deg) rotate(-10deg);
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  background: rgba(255,204,51,.95);
}

/* background behind team name */
.playerInfo:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  width: 100%;
  top:   100%;
  height: 100px;
  background: rgba(4,82,156,.75);
}

.playerName {
  font-weight: bold;
  font-size: 36px;
  line-height: 1em;
  margin-bottom: 10px;
  /*-webkit-text-stroke: 1px rgba(0,0,0,.5);*/
  /*text-shadow:
    0px 0px 0px black,
    -0.5px 0.5px 0px black,
    -1px 1px 0px black,
    -1.5px 1.5px 0px black,
    -2px 2px 0px black,
    -2.5px 2.5px 0px black;*/
}

.teamName {
  position: absolute;
  bottom: -25px;
  right:   20px;
  text-align: right;
  color: #FFF;
}

.playerNumber {
  z-index: 1;
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  color: #FFF;
  width:  80px;
  text-align: center;
  /*-webkit-text-stroke: 1px rgba(0,0,0,.75);
  text-shadow:
    0px 0px 0px black,
    -0.5px 0.5px 0px black,
    -1px 1px 0px black,
    -1.5px 1.5px 0px black,
    -2px 2px 0px black,
    -2.5px 2.5px 0px black;*/
  -webkit-transform: skew(10deg) rotate(10deg) translateY(-75px);
  transform: skew(10deg) rotate(10deg) translateY(-75px);
}

/* playerNumber BG */
.playerNumber:after {
  content: '';
  position: absolute;
  z-index: -1;
  top:  50%;
  left: 50%;
  width:  80px;
  height: 80px;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background: rgba(4,82,156, .75);
  border-radius: 50%
}

.cardBack {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
}

.cardBack:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../../assets/image/Golden_State_Warriors_logo.svg');
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: .1;
    -webkit-transform: rotate3d(50,50,0,50deg) scale(1.5);
    transform: rotate3d(50,50,0,50deg) scale(1.5);
    z-index: -1;
}

.playerNumberBack {
    margin-top: 20px;
    font-size: 50px;
    margin-bottom: 20px;
    line-height: 1em;
}

.playerNameBack {
    font-size: 32px;
    line-height: 1em;
}
