.MontageLogo {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    position: fixed;
    height: 50px;
    left:   10px;
    width: 0;
    top: 10px;
    background: rgba(255, 255, 255, 0.2);
    line-height: 50px;
    color: white;
    border-radius: 25px;
    padding: 0 25px;
    overflow: hidden;
    transition: all .15s ease-in-out;
    opacity: 0.5;
}

.MontageLogo svg {
    box-sizing: border-box;
    position: absolute;
    right: 10px;
    bottom: 1px;
    width: 30px;
    height: 50px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    transition: -webkit-transform .15s ease-in-out;
    transition: transform .15s ease-in-out;
}
.MontageLogo:hover {
    width: 100px;
    opacity: 1;
}
.MontageLogo:hover:after {
   -webkit-transform: translateX(0px);
           transform: translateX(0px);
}
.MontageLogo:hover svg {
   -webkit-transform: translateX(-5px);
           transform: translateX(-5px);
}
.MontageLogo:after {
    position: absolute;
    content: attr(data-text);
    font-family: gotham;
    font-weight: 200;
    left: 15px;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transform: translateX(-65px);
          transform: translateX(-65px);
    transition: -webkit-transform .15s ease-in-out;
    transition: transform .15s ease-in-out;
}
