.montageTag {
    position: fixed;
    height: 100px;
    width:  100px;
    left:   10px;
    top: 10px;
    color: white;
    overflow: hidden;
    opacity: 0.5;
    -webkit-transform: scale(.5);
            transform: scale(.5);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: all .2s ease-in-out;
    background-image: url(../../assets/image/montage-tag_still.gif);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    padding: 0;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

.montageTag.isMouse:hover,
.montageTag.expanded {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
}

.montageTag .clickableLink {
    width:  100px;
    height: 100px;
    position: absolute;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    background-image: url(../../assets/image/montage-tag.gif);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    pointer-events: none;
}

.montageTag.isMouse:hover .clickableLink,
.montageTag.expanded .clickableLink {
    opacity: 1;
}
