.montageTag {
    position: fixed;
    height: 100px;
    width:  100px;
    left:   10px;
    top: 10px;
    color: white;
    overflow: hidden;
    -webkit-transform: scale(.5);
            transform: scale(.5);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    transition: -webkit-transform .25s cubic-bezier(.44,1.14,.77,1.16);
    transition: transform .25s cubic-bezier(.44,1.14,.77,1.16);
    opacity: 0.5;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.montageTag img {
    width: 100%;
    height: auto;
    display: block;
}

.montageTag:hover { -webkit-transform: scale(1); transform: scale(1); cursor: pointer; }

.montageTag:hover img:first-child { display: none; }
