html {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    background-image: url(../../assets/image/moontunes-bg.jpg);
}
.Main {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}
.flow-Ribbon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: -108.2%;
    right: 0;
}
.panel {
    width: 384px;
    height: 503px;
    margin-left: -192px;
    margin-top: -230px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    background-color: rgba(255,255,255,.4);
}
.panel:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    -webkit-transform: translate3d(172px, 372px, -312px) rotateX(21deg);
    -webkit-backface-visibility: hidden;
    border-radius: 1px;
    box-shadow: 0 0 160px 160px rgba(0,0,0,.4);
}
.Main:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../assets/image/moontunes-overlay.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    pointer-events: none;
}
#logo {
    position: absolute;
    top: 5%; 
    left: 5%;
    width: 253px;
    height: 47px;
    background: red;
    z-index: 2;
    background: url(../../assets/image/moontunes-logo.png);
}
.flow-Ribbon > div:before {
    content: "";
    position: absolute;
    background-image: url(../../assets/image/moontunes-moon.jpg);
    background-repeat: no-repeat;
    border-radius: 500px;
    top: 50%;
    left: 50%;
    width: 812px;
    margin-left: -406px;
    height: 812px;
    margin-top: -406px;
    -webkit-transform: translate3d(0, 92px, 600px) scale3d(2.2, 2.2, 2.2);
    background-color: #86A4A9;
    -webkit-box-shadow: inset 0 0 40px 8px #86A4A9, 0 0 40px 8px #86A4A9, 0 0 100px 20px #86A4A9;
    pointer-events: none;
}
