html {
    position: fixed;
    top:  0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* scene */

.View {
    display: none;
}

.Main {
    position: absolute;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    top:    0;
    left:   0;
    bottom: 0;
    right:  0;
    overflow: hidden;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.Main:before {
    content: "";
    position: absolute;
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;
    background-size: cover;
    background-position: center bottom;
    background-image: url(../../assets/image/GSW-Home-Court.jpg);
    z-index: -3;
}

/* background matte */

.Main:after {
    content: "";
    position: absolute;
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;
    background-image: radial-gradient(rgba(0,0,0,.5) 20%, rgba(0,0,0,1) 80%);
    z-index: -2;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 140%;
}

.content {
    position: relative;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.view {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}

.mainContent {
    -webkit-flex: 7;
        -ms-flex: 7;
            flex: 7;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

.header {
    box-sizing: border-box;
    padding: 0 .5em;
    color: #FFF;
    font-size: 1.4em;
    line-height: 2.5;
    visibility: hidden;
    text-align: center;
    /*outline: 1px solid red;*/
}

.show-header .header {
    visibility: visible;
}

/*
------------------------------------------------------
Flashes
------------------------------------------------------
*/

.Main .flashes {
    position: absolute;
    top: 35%;
    left: 0;
    height: 40%;
    width: 100%;
    text-align: center;
    color: #FFF;
    -webkit-filter: blur(5px);
            filter: blur(5px);
}

@media (min-width: 700px)  { .flashes { -webkit-filter: blur(7px); filter: blur(7px); }}
@media (min-width: 1000px) { .flashes { -webkit-filter: blur(10px); filter: blur(10px); }}
@media (min-width: 1500px) { .flashes { -webkit-filter: blur(15px); filter: blur(15px); }}

@-webkit-keyframes flash-1 {
    0%   {opacity: 0;}
    15%  {opacity: 0;}
    16%  {opacity: 1;}
    20%  {opacity: 0;}
    65%  {opacity: 0;}
    66%  {opacity: 1;}
    70%  {opacity: 0;}
    95%  {opacity: 0;}
    96%  {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes flash-1 {
    0%   {opacity: 0;}
    15%  {opacity: 0;}
    16%  {opacity: 1;}
    20%  {opacity: 0;}
    65%  {opacity: 0;}
    66%  {opacity: 1;}
    70%  {opacity: 0;}
    95%  {opacity: 0;}
    96%  {opacity: 1;}
    100% {opacity: 0;}
}

.flash1 {
    -webkit-transform: translate(10px,10px) scale(.3);
            transform: translate(10px,10px) scale(.3);
    -webkit-animation: flash-1 3s infinite both;
            animation: flash-1 3s infinite both;
}

.flash2 {
    -webkit-transform: translate(100px,68px) scale(.3);
            transform: translate(100px,68px) scale(.3);
    -webkit-animation: flash-1 4s .5s infinite both;
            animation: flash-1 4s .5s infinite both;
}

.flash3 {
    -webkit-transform: translate(45px,36px) scale(.3);
            transform: translate(45px,36px) scale(.3);
    -webkit-animation: flash-1 2.5s 1.25s infinite both;
            animation: flash-1 2.5s 1.25s infinite both;
}
.flash4 {
    -webkit-transform: translate(165px,8px) scale(.4);
            transform: translate(165px,8px) scale(.4);
    -webkit-animation: flash-1 3.5s .25s infinite both;
            animation: flash-1 3.5s .25s infinite both;
}
.flash5 {
    -webkit-transform: translate(120px,25px) scale(.3);
            transform: translate(120px,25px) scale(.3);
    -webkit-animation: flash-1 4.75s 1s infinite both;
            animation: flash-1 4.75s 1s infinite both;
}
.flash6 {
    -webkit-transform: translate(25px,80px) scale(.3);
            transform: translate(25px,80px) scale(.3);
    -webkit-animation: flash-1 1.75s .75s infinite both;
            animation: flash-1 1.75s .75s infinite both;
}
.flash7 {
    -webkit-transform: translate(90px,50px) scale(.4);
            transform: translate(90px,50px) scale(.4);
    -webkit-animation: flash-1 2.75s infinite both;
            animation: flash-1 2.75s infinite both;
}
.flash8 {
    -webkit-transform: translate(160px,50px) scale(.3);
            transform: translate(160px,50px) scale(.3);
    -webkit-animation: flash-1 6s infinite both;
            animation: flash-1 6s infinite both;
}

/* Media Queries */

@media (min-height: 900px) {
    .header {
        font-size: 2.4em;
    }
}

@media (min-height: 480px) {
    .Main .flashes {
        top: 35%;
        height: 40%;
    }
}

@media (min-width: 1200px) {
    .Main .flashes {
        /*background: green;*/
        top: 30%;
        height: 40%;
    }
}


