html {
    position: absolute;
    top:  0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    background-position: center center;
    background-image: url(../../assets/image/floor-texture.jpg);
}

.Main {
    position: absolute;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    top:    0;
    left:   0;
    bottom: 0;
    right:  0;
    overflow: hidden;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/* background matte */

.Main:after {
    content: "";
    position: absolute;
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;
    background-image: radial-gradient(rgba(0,0,0,0) 20%, rgba(0,0,0,1) 90%);
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 140%;
}

.Main:before {
    content: "";
    position: absolute;
    top:    -40px;
    left:   -40px;
    right:  -40px;
    bottom: -360px;
    background-image: url(../../assets/image/half-court.svg);
    z-index: -1;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    opacity: .75;
    /*background-size: 100% 100%;*/

}

.flow-Ribbon {
    position: relative;
    -webkit-flex: 3;
        -ms-flex: 3;
            flex: 3;

}

.panel {
    width:  375px;
    height: 600px;
    margin-left: -192px;
    margin-top: -300px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

/*shadow*/

/*.panel:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    -webkit-transform: translate3d(172px, 372px, -312px) rotateX(21deg);
            transform: translate3d(172px, 372px, -312px) rotateX(21deg);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 1px;
    box-shadow: 0 0 160px 160px rgba(0,0,0,.4);
}*/



.flow-Ribbon > div:before {
    content: "";
    position: absolute;
    background-image: url(../../assets/image/basketball.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    width:  900px;
    height: 900px;
    top:  50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 600px) scale3d(2.2, 2.2, 2.2);
            transform: translate3d(-50%, -50%, 600px) scale3d(2.2, 2.2, 2.2);
    background-color: rgba(0,0,0,1);
    box-shadow: inset 0 0 6px 9px rgba(0,0,0,1), inset 0 0 110px 110px rgba(0,0,0,0.7), 0 0 40px 8px rgba(0,0,0,.5), 0 0 100px 20px rgba(0,0,0,.5);
    pointer-events: none;
}

.teamHeader {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    color: rgb(255,204,51);

    padding: 40px 20px;
}

.logo {
    position: absolute;
    top:  40px;
    left: 20px;
    width:  calc(100% - 40px);
    height: calc(100% - 40px);
    z-index: 5;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url(../../assets/image/championship_logo.png);
}
