.TimerEndedModal {

}

.modal {
    position: absolute;
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;
    background: rgba(255,0,0,1);
    z-index: 100;
    padding: 1em;
    color: #FFF;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: scale(.8);
            transform: scale(.8);
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}

.modal.is-visible {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.modal h1 {
    -ms-flex-item-align: center;
            -webkit-align-self: center;
            align-self: center;
    text-align: center;
    border: .1em solid #FFF;
    display: inline-block;
    font-size: 4em;
    line-height: 1;
    padding: .5em .8em;
}
