@font-face {
    font-family: 'ds-digitalbold';
    src: url('../fonts/ds-digib-webfont.eot');
    src: url('../fonts/ds-digib/ds-digib-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ds-digib/ds-digib-webfont.woff2') format('woff2'),
         url('../fonts/ds-digib/ds-digib-webfont.woff') format('woff'),
         url('../fonts/ds-digib/ds-digib-webfont.ttf') format('truetype'),
         url('../fonts/ds-digib/ds-digib-webfont.svg#ds-digitalbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "arvo", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #222;
    margin: 0;
    background: #000;
}

/* background matte */

@-webkit-keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

/* background image */

body:after {
    content: "";
    position: absolute;
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    background-image: url(../../assets/image/GSW-Home-Court_curry.jpg);
    background-repeat: no-repeat;
    -webkit-animation: fadeIn 2s both;
            animation: fadeIn 2s both;
    z-index: -3;
}

body:before {
    content: "";
    position: absolute;
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;
    background-image: radial-gradient(rgba(0,0,0,.5) 20%, rgba(0,0,0,1) 80%);
    /*z-index: -2;*/
    background-repeat: no-repeat;
    background-position: center center;
}

/* BUTTONS */

button {
    border: none;
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
    cursor: pointer;
}

button:focus {
    outline: none;
}

.btn {
    display: block;
    background: #036DCF linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
    outline: none;
    border: none;
    font-size: 1.2em;
    font-family: "arvo";
    font-weight: 400;
    letter-spacing: .5px;
    color: #FFF;
    padding: .7em;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid rgb(4,82,156);
    text-shadow: 0 1px 1px #034380;
    cursor: pointer;
}

.btn--inline {
    display: inline-block;
    min-width: 200px;
}

.btn--secondary {
    background: rgb(255,204,51);
    border: 2px solid rgb(211, 159, 4);
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

.btn--small {
    font-size: 1em;
    width: auto;
    padding: .5em;
    min-width: 80px;
}

.btn:hover,
.btn:active {
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1));
}

.btn:active {
    text-shadow: none;
}

@media (min-height: 800px) and (min-width: 767px) {
    .btn {
        font-size: 1.8em;
    }

    .btn--small {
        font-size: 1em;
    }
}

/* Loading Spinner */

.loading {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    text-align: center;
    font-size: 18px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    line-height: 40px;
    height: 40px;
}

.ball-container {
    margin: 0 auto;
    width: 150px;
    color: #FFF;
}

.ball-container svg {
    display: inline-block;
    width: 40px;
    vertical-align: middle;
}

.ball-container span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

@-webkit-keyframes pulse {
    0%     { opacity: .1; }
    20%    { opacity: .8; }
    100%   { opacity: .1; }
}

@keyframes pulse {
    0%     { opacity: .1; }
    20%    { opacity: .8; }
    100%   { opacity: .1; }
}

.basketball path {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-name: pulse;
            animation-name: pulse;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    color: rgb(255,204,51);
}

.bb-7 { -webkit-animation-delay: -1s; animation-delay: -1s }
.bb-6 { -webkit-animation-delay: -.875s; animation-delay: -.875s }
.bb-5 { -webkit-animation-delay: -.75s; animation-delay: -.75s }
.bb-4 { -webkit-animation-delay: -.625s; animation-delay: -.625s }
.bb-3 { -webkit-animation-delay: -.5s; animation-delay: -.5s }
.bb-2 { -webkit-animation-delay: -.375s; animation-delay: -.375s }
.bb-1 { -webkit-animation-delay: -.25s; animation-delay: -.25s }
.bb-0 { -webkit-animation-delay: -.125s; animation-delay: -.125s }

/* Intro Shared Code */

.header {
    box-sizing: border-box;
    padding: 0 .5em;
    color: #FFF;
    font-size: 1.4em;
    line-height: 2.5;
    visibility: hidden;
    text-align: center;
}

.show-header .header {
    visibility: visible;
}

@media (min-height: 900px) {
    .header {
        font-size: 2.4em;
    }
}

.Main {
    position: absolute;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    top:    0;
    left:   0;
    bottom: 0;
    right:  0;
    overflow: hidden;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.content {
    position: relative;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

@-webkit-keyframes intro {
    from    {opacity: 0; -webkit-transform: scale(.8); transform: scale(.8);}
    to      {opacity: 1; -webkit-transform: scale(1); transform: scale(1);}
}

@keyframes intro {
    from    {opacity: 0; -webkit-transform: scale(.8); transform: scale(.8);}
    to      {opacity: 1; -webkit-transform: scale(1); transform: scale(1);}
}

.intro {
    margin: 0 auto;
    text-align: center;
    color: #FFF;
    position: relative;
}

.intro .intro-text {
    font-size: 1.4em;
    line-height: 1.4;
    margin-bottom: 1em;
    text-shadow: -1px 2px 1px black;
}

.intro button {
    max-width: 180px;
}

.intro .logo {
    width: 200px;
    height: 120px;
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../assets/image/championship_logo.png);
    margin-bottom: 2em;
}

/* setting up the animation */

.loader .intro > .intro-text {
    -webkit-animation: intro 1s ease both;
            animation: intro 1s ease both;
}

/*.intro > .intro-text:nth-child(2) { -webkit-animation-delay: 1.5s; animation-delay: 1.5s; }*/
.intro > .intro-text:nth-child(3) { -webkit-animation-delay: .25s; animation-delay: .25s; }
.intro > :nth-child(4) { -webkit-animation-delay: 3.5s; animation-delay: 3.5s; }

.intro.transition-out {
    transition: all .5s ease-in;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
}

@media (min-width: 430px) and (min-height: 600px) {
    .intro {
        max-width: 600px;
    }

    .intro .intro-text {
        font-size: 2em;
    }

    .intro button {
        max-width: 250px;
    }

    .intro .logo {
        width: 350px;
        height: 225px;
    }
}

@media (min-width: 767px) and (min-height: 750px) {
    .intro {
        max-width: 800px;
    }

    .intro .intro-text {
        font-size: 3em;
        /*color: blue;*/
    }

    .intro .logo {
        width: 450px;
        height: 250px;
    }

    .intro button {
        max-width: 250px;
    }
}

/*
------------------------------------------------------
Flashes
------------------------------------------------------
*/

.Main .flashes {
    position: absolute;
    top: 35%;
    left: 0;
    height: 40%;
    width: 100%;
    text-align: center;
    color: #FFF;
    -webkit-filter: blur(5px);
            filter: blur(5px);
}

@media (min-width: 700px)  { .flashes { -webkit-filter: blur(7px); filter: blur(7px); }}
@media (min-width: 1000px) { .flashes { -webkit-filter: blur(10px); filter: blur(10px); }}
@media (min-width: 1500px) { .flashes { -webkit-filter: blur(15px); filter: blur(15px); }}

@-webkit-keyframes flash-1 {
    0%   {opacity: 0;}
    15%  {opacity: 0;}
    16%  {opacity: 1;}
    20%  {opacity: 0;}
    65%  {opacity: 0;}
    66%  {opacity: 1;}
    70%  {opacity: 0;}
    95%  {opacity: 0;}
    96%  {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes flash-1 {
    0%   {opacity: 0;}
    15%  {opacity: 0;}
    16%  {opacity: 1;}
    20%  {opacity: 0;}
    65%  {opacity: 0;}
    66%  {opacity: 1;}
    70%  {opacity: 0;}
    95%  {opacity: 0;}
    96%  {opacity: 1;}
    100% {opacity: 0;}
}

.flash1 {
    -webkit-transform: translate(10px,10px) scale(.3);
            transform: translate(10px,10px) scale(.3);
    -webkit-animation: flash-1 3s infinite both;
            animation: flash-1 3s infinite both;
}

.flash2 {
    -webkit-transform: translate(100px,68px) scale(.3);
            transform: translate(100px,68px) scale(.3);
    -webkit-animation: flash-1 4s .5s infinite both;
            animation: flash-1 4s .5s infinite both;
}

.flash3 {
    -webkit-transform: translate(45px,36px) scale(.3);
            transform: translate(45px,36px) scale(.3);
    -webkit-animation: flash-1 2.5s 1.25s infinite both;
            animation: flash-1 2.5s 1.25s infinite both;
}
.flash4 {
    -webkit-transform: translate(165px,8px) scale(.4);
            transform: translate(165px,8px) scale(.4);
    -webkit-animation: flash-1 3.5s .25s infinite both;
            animation: flash-1 3.5s .25s infinite both;
}
.flash5 {
    -webkit-transform: translate(120px,25px) scale(.3);
            transform: translate(120px,25px) scale(.3);
    -webkit-animation: flash-1 4.75s 1s infinite both;
            animation: flash-1 4.75s 1s infinite both;
}
.flash6 {
    -webkit-transform: translate(25px,80px) scale(.3);
            transform: translate(25px,80px) scale(.3);
    -webkit-animation: flash-1 1.75s .75s infinite both;
            animation: flash-1 1.75s .75s infinite both;
}
.flash7 {
    -webkit-transform: translate(90px,50px) scale(.4);
            transform: translate(90px,50px) scale(.4);
    -webkit-animation: flash-1 2.75s infinite both;
            animation: flash-1 2.75s infinite both;
}
.flash8 {
    -webkit-transform: translate(160px,50px) scale(.3);
            transform: translate(160px,50px) scale(.3);
    -webkit-animation: flash-1 6s infinite both;
            animation: flash-1 6s infinite both;
}

/* Media Queries */

@media (min-height: 480px) {
    .Main .flashes {
        top: 35%;
        height: 40%;
    }
}

@media (min-width: 1200px) {
    .Main .flashes {
        /*background: green;*/
        top: 30%;
        height: 40%;
    }
}

