@font-face {
    font-family: 'ds-digitalbold';
    src: url('../fonts/ds-digib-webfont.eot');
    src: url('../fonts/ds-digib/ds-digib-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ds-digib/ds-digib-webfont.woff2') format('woff2'),
         url('../fonts/ds-digib/ds-digib-webfont.woff') format('woff'),
         url('../fonts/ds-digib/ds-digib-webfont.ttf') format('truetype'),
         url('../fonts/ds-digib/ds-digib-webfont.svg#ds-digitalbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "arvo", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #222;
}

body:after {
    content: '';
    position: absolute;
    top:    0;
    bottom: 0;
    left:   0;
    right:  0;
    background-color: #000;
    background-image: radial-gradient(rgba(255,255,255,.9),rgba(0,0,0,.8) 90%);
    color: #333;
    transition: opacity .5s ease-out, visibility .5s ease-out;
    visibility: visible;
}

.montage-app-loaded body:after {
    opacity: 0;
    visibility: hidden;
}

.loading {
    position: absolute;
    z-index: 1;
    width: 100%;
    text-align: center;
    font-size: 24px;
    top: 50%;
    line-height: 50px;
    margin-top: -25px;
}


/* clearfix */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* BUTTONS */

button {
    border: none;
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
    cursor: pointer;
}

.btn {
    width: 100%;
    background: linear-gradient(#036DCF, #0466C2);
    outline: none;
    border: none;
    font-size: 1.2em;
    font-family: "arvo";
    font-weight: 400;
    letter-spacing: .5px;
    color: #FFF;
    padding: .7em;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid rgb(4,82,156);
    text-shadow: 0 1px 1px #034380;
}

.btn--small {
    font-size: 1em;
    width: auto;
    padding: .5em;
    min-width: 80px;
}

.btn:hover,
.btn:active {
    background: #0466C2;
}

.btn:active {
    background: linear-gradient(#0466C2, #036DCF);
    text-shadow: 0 -1px 1px #034380;
}

@media (min-height: 800px) and (min-width: 767px) {
    .btn {
        font-size: 1.8em;
    }
}

/*
------------------------------------------------------
Loading Animation
------------------------------------------------------
*/

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  50% {
    height: 80px;
    width: 80px;
  }
  100% {
    -webkit-transform: translateY(0px) rotate(1deg);
            transform: translateY(0px) rotate(1deg);
    height: 70px;
    width: 90px;
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  50% {
    height: 80px;
    width: 80px;
  }
  100% {
    -webkit-transform: translateY(0px) rotate(1deg);
            transform: translateY(0px) rotate(1deg);
    height: 70px;
    width: 90px;
  }
}
@-webkit-keyframes shadow {
  100% {
    -webkit-transform: rotateX(100deg) scale(0.9);
            transform: rotateX(100deg) scale(0.9);
    opacity: 1;
  }
}
@keyframes shadow {
  100% {
    -webkit-transform: rotateX(100deg) scale(0.9);
            transform: rotateX(100deg) scale(0.9);
    opacity: 1;
  }
}
.ball-container {
  position: relative;
  height: 0px;
  width: 130px;
  display: inline-block;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.ball-container:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  height: 1px;
  width: 1px;
  border-radius: 50%;
  opacity: .8;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transform: rotateX(100deg);
          transform: rotateX(100deg);
  box-shadow: 0 0 70px 20px rgba(0, 0, 0, 0.3);
  -webkit-animation: shadow 0.35s infinite cubic-bezier(0.5, 0, 0.5, 1) alternate;
          animation: shadow 0.35s infinite cubic-bezier(0.5, 0, 0.5, 1) alternate;
  z-index: -1;
}

.ball {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -40px;
  width: 80px;
  height: 80px;
  -webkit-animation: bounce 0.35s infinite cubic-bezier(0.5, 0, 0.5, 1) alternate;
          animation: bounce 0.35s infinite cubic-bezier(0.5, 0, 0.5, 1) alternate;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  z-index: 2;
}

.ball img {
  height: 100%;
  width: 100%;
}

