@font-face {
    font-family: 'ds-digitalbold';
    src: url('../fonts/ds-digib-webfont.eot');
    src: url('../fonts/ds-digib/ds-digib-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ds-digib/ds-digib-webfont.woff2') format('woff2'),
         url('../fonts/ds-digib/ds-digib-webfont.woff') format('woff'),
         url('../fonts/ds-digib/ds-digib-webfont.ttf') format('truetype'),
         url('../fonts/ds-digib/ds-digib-webfont.svg#ds-digitalbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "arvo", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #222;
}

body:after {
    content: '';
    position: absolute;
    top:    0;
    bottom: 0;
    left:   0;
    right:  0;
    background-color: #000;
    background-image: radial-gradient(rgba(255,255,255,.1),rgba(0,0,0,1) 90%);
    color: #333;
    transition: opacity .5s ease-out, visibility .5s ease-out;
    visibility: visible;
}

.montage-app-loaded body:after {
    opacity: 0;
    visibility: hidden;
}

.loading {
    position: absolute;
    z-index: 1;
    width: 100%;
    text-align: center;
    font-size: 24px;
    top: 50%;
    line-height: 50px;
    margin-top: -25px;
}


/* clearfix */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* BUTTONS */

button {
    border: none;
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
    cursor: pointer;
}

.btn {
    width: 100%;
    background: #036DCF linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
    outline: none;
    border: none;
    font-size: 1.2em;
    font-family: "arvo";
    font-weight: 400;
    letter-spacing: .5px;
    color: #FFF;
    padding: .7em;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid rgb(4,82,156);
    text-shadow: 0 1px 1px #034380;
}

.btn--secondary {
    background: rgb(255,204,51);
    border: 2px solid rgb(211, 159, 4);
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

.btn--small {
    font-size: 1em;
    width: auto;
    padding: .5em;
    min-width: 80px;
}

.btn:hover,
.btn:active {
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1));
}

.btn:active {
    background: linear-gradient(#0466C2, #036DCF);
    text-shadow: 0 -1px 1px #034380;
}

@media (min-height: 800px) and (min-width: 767px) {
    .btn {
        font-size: 1.8em;
    }

    .btn--small {
        font-size: 1em;
    }
}

.ball-container {
    margin: 0 auto;
    width: 100px;
    color: #FFF;
}

@keyframes pulse {
    0%     { opacity: .1; }
    20%    { opacity: .8; }
    100%   { opacity: .1; }
}

.basketball path {
    animation-duration: 1s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    color: rgb(255,204,51);
}

.bb-7 { animation-delay: -1s }
.bb-6 { animation-delay: -.875s }
.bb-5 { animation-delay: -.75s }
.bb-4 { animation-delay: -.625s }
.bb-3 { animation-delay: -.5s }
.bb-2 { animation-delay: -.375s }
.bb-1 { animation-delay: -.25s }
.bb-0 { animation-delay: -.125s }



