/* intro animation */

@-webkit-keyframes results-in {
    0% {-webkit-transform: translateY(-180%);transform: translateY(-180%);}
    100% {}
}

@keyframes results-in {
    0% {-webkit-transform: translateY(-180%);transform: translateY(-180%);}
    100% {}
}

@-webkit-keyframes results-out {
    0% {}
    100% {-webkit-transform: translateY(-180%);transform: translateY(-180%);}
}

@keyframes results-out {
    0% {}
    100% {-webkit-transform: translateY(-180%);transform: translateY(-180%);}
}

/* ---------- */

.Results {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    -webkit-animation: results-in .5s cubic-bezier(.44,1.14,.77,1.16) forwards;
            animation: results-in .5s cubic-bezier(.44,1.14,.77,1.16) forwards;
}

.transition-results-out.Results {
    -webkit-animation: results-out .5s cubic-bezier(.44,1.14,.77,1.16) forwards;
            animation: results-out .5s cubic-bezier(.44,1.14,.77,1.16) forwards;
}

.results-container {
    margin-bottom: .5em;
    padding: 15px;
    padding-top: 0;
}

.results-section {
    margin-right: -10px;
    position: relative;
    padding-bottom: 2em;
    margin-bottom: 2em;
    /*border-bottom: 1px solid rgb(4,82,156);*/
}

.results-section:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.results-section:last-child:after {
    display: none;
}

/* result graphs bottom border */

.results-section:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 15px;
    height: 1px;
    background: rgba(4,82,156,.5);
}

/* Main Results title */

.results-ranking {
    text-align: center;
    font-size: 2em;
    line-height: 2;
    color: #FFF;
    background: rgb(4,82,156);
    margin: 0 -15px 15px -15px;
    letter-spacing: 1px;
}

.result-main {
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

.results-main > div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.result-title {
    margin-top: 0;
    margin-bottom: .5em;
    line-height: 1;
    font-size: 1.4em;
    letter-spacing: .5px;
    text-align: center;
}

.result-details {
    box-sizing: border-box;
    position: relative;
    margin: 1em;
    /*border: 5px solid rgb(4,82,156);*/
    background: rgba(255,255,255,.7);
    /*background-image: url('../../assets/image/floor-texture.jpg');*/
    /*background-size: 25%;*/
    overflow: hidden;
}

.result-details:after {
    content: "";
    background-image: url('../../assets/image/floor-texture.jpg');
    /*opacity: .75;*/
    transform: rotate(-45deg);
    background-size: 50%;
    top:    -15%;
    left:   -60%;
    bottom: -15%;
    right:  -60%;
    position: absolute;
    z-index: -1;
}

.result-data > div {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 50%;
    float: left;
    text-align: center;
    margin-right: 15px;
    -ms-flex-item-align: center;
        -webkit-align-self: center;
            align-self: center;
}

/* total percent */

.percentageCorrect {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
    text-align: center;
    font-weight: 700;
    font-size: 6em;
    line-height: 1;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    color: rgb(4,82,156);
}

.percentageCorrect:after {
    position: absolute;
    top: .3em;
    content: '%';
    font-size: .3em;
}

/* answers correct */

.answers-correct {
    margin-right: 10px;
    font-size: 1.4em;
    margin-bottom: .5em;
    vertical-align: middle;
}

/* restart */
.results-buttons {
    display: flex;
    justify-content: space-between;
}

.results-buttons .btn {
    display: inline-block;
    font-size: 1.1em;
    width: 50%;
    margin-right: 10px;
}

/* Graphs */

.result-graphs {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
    /*margin-bottom: 1em;
    padding-bottom: 1em;*/
}

/* columns for flex */

.result-data-container {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 15px;
    text-align: center;
}

.graph {
    padding: 0;
    margin: 0;
    list-style: none;
}

.avgBar .bar-title {
    background: #999;
}

/* Sharing */

.results-sharing .result-title {
    margin-right: 10px;
}

.results-sharing .Sharing {
    margin-top: -40px;
}


@media (min-width: 400px) {
    .results {
        max-width: 340px
    }

    .results-buttons .btn {
        /*font-size: 1.1em;*/
    }
}

@media (min-width: 767px) and (min-height: 750px) {
    .results {
        max-width: 480px;
    }

    .results-container {
        padding: 20px;
    }

    .result-main {
        display: block;
        margin-bottom: 2em;
        padding-bottom: 2em;
    }

    .result-title {
        font-size: 1.8em;
        margin-bottom: 1em;
    }

    .results-ranking {
        font-size: 2.5em;
        margin: -20px -20px 20px -20px;
    }

    .result-details {
        border: 10px solid rgb(4,82,156);
    }

    .percentageCorrect {
        font-size: 9em;
    }

    .answers-correct {
        display: inline-block;
        margin-bottom: 0;
    }

    .result-graphs {
        position: relative;
        margin-right: -15px;
        margin-bottom: 2em;
        padding-bottom: 2em;

    }

    .results-buttons .btn {
        font-size: 1.4em;
    }

    .results-sharing .Sharing {
        margin-top: -56px;
    }
}
