/* intro animation */

@-webkit-keyframes results-in {
    0% {-webkit-transform: translateY(-180%);transform: translateY(-180%);}
    100% {}
}

@keyframes results-in {
    0% {-webkit-transform: translateY(-180%);transform: translateY(-180%);}
    100% {}
}

@-webkit-keyframes results-out {
    0% {}
    100% {-webkit-transform: translateY(-180%);transform: translateY(-180%);}
}

@keyframes results-out {
    0% {}
    100% {-webkit-transform: translateY(-180%);transform: translateY(-180%);}
}

/* ---------- */

.Results {
    margin: 0 auto;
    max-width: 440px;
    -webkit-animation: results-in .5s cubic-bezier(.44,1.14,.77,1.16) forwards;
            animation: results-in .5s cubic-bezier(.44,1.14,.77,1.16) forwards;
}

.transition-results-out.Results {
    -webkit-animation: results-out .5s cubic-bezier(.44,1.14,.77,1.16) forwards;
            animation: results-out .5s cubic-bezier(.44,1.14,.77,1.16) forwards;
}

.results-container {
    margin-bottom: 1em;
    padding: 15px;
    padding-top: 0;
}

.results-ranking {
    text-align: center;
    font-size: 2.5em;
    line-height: 2;
    color: #FFF;
    background: rgb(4,82,156);
    margin: 0 -15px 15px -15px;
}

.result-main {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(4,82,156);
}

.result-title {
    margin-top: 0;
    margin-bottom: 15px;
    letter-spacing: .5px;
    text-align: center;
}

.result-details {
    position: relative;
    border: 10px solid rgb(4,82,156);
    background: #FFF;
    background-image: url('../../assets/image/floor-texture.jpg');
    background-size: 50%;
}

.data-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.result-data > div {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 50%;
    float: left;
    text-align: center;
    margin-right: 15px;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
}

/* total percent */

.percentageCorrect {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
    text-align: center;
    font-weight: 700;
    font-size: 9em;
    line-height: 1;
    margin-bottom: 15px;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    color: rgb(4,82,156);
}

.percentageCorrect:after {
    position: absolute;
    top: .3em;
    content: '%';
    font-size: .3em;
}

/* answers correct */

.answers-correct {
    display: inline-block;
    margin-right: 10px;
    font-size: 1.5em;
    vertical-align: middle;
}

/* restart */

.restartButton.btn { font-size: 16px; }

/* Graphs */

.result-graphs {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

/* result graphs bottom border */

.result-graphs:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 15px;
    height: 1px;
    background: rgb(4,82,156);
}

/* columns for flex */

.result-data-container {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 15px;
    text-align: center;
}

.graph {
    padding: 0;
    margin: 0;
    list-style: none;
}

