@-webkit-keyframes intro {
    from    {opacity: 0; -webkit-transform: translateY(100px); transform: translateY(100px);}
    to      {opacity: 1; -webkit-transform: translateY(0); transform: translateY(0);}
}

@keyframes intro {
    from    {opacity: 0; -webkit-transform: translateY(100px); transform: translateY(100px);}
    to      {opacity: 1; -webkit-transform: translateY(0); transform: translateY(0);}
}

.intro {
    margin: 0 auto;
    text-align: center;
    color: #FFF;
    position: relative;
}

.intro div {
    font-size: 1.4em;
    line-height: 1.4;
    margin-bottom: 1em;
    text-shadow: -1px 2px 1px black;
}

.intro button {
    max-width: 180px;
}

.intro .logo {
    width: 200px;
    height: 120px;
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../assets/image/championship_logo.png);
}

/* setting up the animation */

.intro > * {
    /*animation: intro 1s .5s ease both;*/
}

.intro > :nth-child(2) { -webkit-animation-delay: 1.5s; animation-delay: 1.5s; }
.intro > :nth-child(3) { -webkit-animation-delay: 2.5s; animation-delay: 2.5s; }
.intro > :nth-child(4) { -webkit-animation-delay: 3.5s; animation-delay: 3.5s; }

.intro.transition-out {
    transition: all .5s ease-in;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
}

@media (min-width: 430px) and (min-height: 600px) {
    .intro {
        max-width: 600px;
    }

    .intro div {
        font-size: 2em;
    }

    .intro button {
        max-width: 250px;
    }

    .intro .logo {
        width: 350px;
        height: 225px;
    }
}

@media (min-width: 767px) and (min-height: 750px) {
    .intro {
        max-width: 800px;
    }

    .intro div {
        font-size: 3em;
        /*color: blue;*/
    }

    .intro .logo {
        width: 450px;
        height: 250px;
    }

    .intro button {
        max-width: 250px;
    }
}
