.bar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding-right: 40px;
    /* pixel render fix*/
    -webkit-transform: translate3d(0,0,1px);
            transform: translate3d(0,0,1px);
}

.bar + .bar {
    margin-top: 10px;
}

.bar-title {
    box-sizing: border-box;
    min-width: 50px;
    padding: 0 8px;
    height: 40px;
    line-height: 40px;
    background: rgb(255,204,51);
    -ms-flex-item-align: center;
        -webkit-align-self: center;
            align-self: center;
    border-right: 1px solid rgba(255,255,255,.3);
}

/* animated bar */

@-webkit-keyframes animate-bar {
   0%   { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
   100% {}
}

@keyframes animate-bar {
   0%   { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
   100% {}
}

/* animated bar */

/*@-webkit-keyframes animate-bar-out {
   0%   {}
   100% { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@keyframes animate-bar-out {
   0%   {}
   100% { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}*/

.bar-result {
    height: 40px;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    color: rgb(255,204,51);
    background: currentColor;
    z-index: -1;
    -webkit-animation: animate-bar 2s ease-out;
            animation: animate-bar 2s ease-out;
}

.bar-result:before {
    content: '';
    position: absolute;
    right: -40px;
    top: 0;
    bottom: 0;
    width: 41px;
    z-index: 1;
}

.bar-result:before { background: currentColor; }

/* averages */
.bar:last-child .bar-result        { color: #999; }
.bar:last-child .bar-result:before { background: #999; }

/* bar numeric value*/

.bar-data {
    position: absolute;
    line-height: 40px;
    text-align: center;
    width: 40px;
    right: -40px;
    color: #000;
    z-index: 1;
}

/* pushes data value unit next to value */

.bar-data span:last-child {
    margin-left: -3px;
}
