.Sharing {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.icon-button {
    box-sizing: border-box;
    position: relative;
    width: 40px;
    height: 40px;
    color: #FFF;
    text-align: left;
    padding: 0 10px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.icon-button:hover {
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1));
}

.icon-twitter  { background: #4099FF; }
.icon-facebook { background: #3B5998; }

.icon-button span {
    display: inline-block;
    line-height: 40px;
    font-size: 16px;
    margin-left: 20px;
}

.icon-button svg {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    margin-left: -20px;
    height: 20px;
    width: 100%;
}

/* facebook adjustment */

.icon-twitter svg {
    height: 24px;
    margin-top: -11px;
}

